header {

    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

/* Top Bar */

.top-bar {
    background: var(--blue);
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
}

.top-bar .social-icons i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.top-bar .social-icons i:hover {
    background: white;
    color: var(--blue);
}

.social-icons, .user-auth {
    display: flex;
    gap: 18px;
    align-items: center;

}

.user-auth .guest-menu {
    display: flex;
    gap: 10px 20px;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.user-dashboard {
    position: relative;
    cursor: pointer;
}

.user-dashboard .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    padding: 10px;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.user-dashboard .dropdown-content a {
    display: block;
    padding: 8px;
    color: #333;
    font-size: 14px;
}

.user-dashboard:hover .dropdown-content {
    display: block;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .logo a {
    color: var(--blue);
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header nav ul li a {
    background: var(--text-light, #333);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    font-weight: bold;
    box-shadow: var(--shadow);

}

header nav ul li a:hover {
    background: var(--blue);
    font-size: 1.2em;
}

/* Sticky Header Transition */
.header {
    transition: all 0.4s ease;
}

.header.scrolled {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
}