/* ========== RESPONSIVE ========== */

/* For home page */
@media (max-width: 768px) {
    .about-preview img {
        width: 100%;
    }

    .header .container {
        flex-direction: column;
    }

    .main-nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 2.2em;
    }

    .tour-card img {
        height: 180px;
    }
}

/* For contact page */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}